/*Created with Adobe RoboHelp 10.*/
BODY {
  font-family: Arial;
  background-color: #ffffff;
}

H1 {
  font-weight: bold;
  font-size: 18pt;
}

LI.H1 {
  font-weight: bold;
  font-size: 18pt;
}

H2 {
  font-weight: bold;
  font-size: 14pt;
}

LI.H2 {
  font-weight: bold;
  font-size: 14pt;
}

H3 {
  font-weight: bold;
  font-size: 12pt;
}

LI.H3 {
  font-weight: bold;
  font-size: 12pt;
}

H4 {
  font-weight: bold;
  font-size: 11pt;
}

LI.H4 {
  font-weight: bold;
  font-size: 11pt;
}

H5 {
  font-weight: bold;
  font-size: 10.0pt;
}

LI.H5 {
  font-weight: bold;
  font-size: 10.0pt;
}

H6 {
  font-weight: bold;
  font-size: 8.0pt;
}

LI.H6 {
  font-weight: bold;
  font-size: 8.0pt;
}

p {
  margin-left: 0px;
  text-align: undefined;
  font-size: 12pt;
  margin-top: 13.5pt;
  margin-bottom: 13.5pt;
}

Code {
  margin-left: 0px;
  text-align: undefined;
  font-size: 12pt;
  margin-top: 13.5pt;
  margin-bottom: 13.5pt;
  font-family: Courier New;
}

LI.P {
  font-size: 12.0pt;
  font-weight: normal;
  text-align: left;
}

A.expandspot {
  color: #008000;
  cursor: hand;
  font-style: italic;
  text-decoration: none;
}

SPAN.expandtext {
  font-style: italic;
  font-weight: normal;
  color: #ff0000;
}

A.dropspot {
  cursor: hand;
  color: #008000;
  font-style: italic;
  text-decoration: none;
}

A.glossterm {
  color: #800000;
  cursor: hand;
  font-style: italic;
  text-decoration: none;
}

SPAN.glosstext {
  font-style: italic;
  font-weight: normal;
  color: #0000ff;
}

OL,
UL {
  font-size: 12pt;
  font-family: Arial, sans-serif;
  margin-top: 12px;
  margin-bottom: 12px;
}

p.Indent_1_Bulllet {
  margin-top: 6px;
  margin-bottom: 6px;
}

p.Bold-Right {
  font-weight: bold;
  text-align: right;
}

p.ITALIC {
  font-style: italic;
  font-family: Arial, sans-serif;
}

ul.Disc {
  list-style-type: disc;
}

ol.RoundSquare {
  list-style: disc;
}

ol.RoundSquare>li>ol {
  list-style: square;
}

ol.RoundSquare>li>ol>li>ol {
  list-style: circle;
}

ol.RoundSquare>li>ol>li>ol>li>ol {
  list-style: disc;
}

ol.RoundSquare>li>ol>li>ol>li>ol>li>ol {
  list-style: square;
}

ol.RoundSquare>li>ol>li>ol>li>ol>li>ol>li>ol {
  list-style: circle;
}

ul.Circle {
  list-style-type: circle;
}

ol.Decimal {
  list-style-type: decimal;
}

ol.Romans {
  list-style: none;
  counter-reset: item1;
  padding: 0rem;
  margin-left: 10px;
  padding-left: 30.0px;
}

ol.Romans>li {
  position: relative;
  padding-left: 0.5rem;
}

ol.Romans>li:before {
  counter-increment: item1 ;
  content: counter(item1, upper-roman)".";
  text-align: right;
  width: 30.0px;
  position: absolute;
  top: 0;
  left: -34px;
  margin-right: 4px;
  overflow: hidden;
}

ol.Romans>li>ol {
  list-style: none;
  counter-reset: item2;
  padding: 0rem;
  margin-left: 10px;
  padding-left: 30.0px;
}

ol.Romans>li>ol>li {
  position: relative;
  padding-left: 0.5rem;
}

ol.Romans>li>ol>li:before {
  counter-increment: item2 ;
  content: counter(item2, lower-roman)".";
  text-align: right;
  width: undefined;
  position: absolute;
  top: 0;
  left: undefined;
  margin-right: undefined;
  overflow: hidden;
}

ol.Romans>li>ol>li>ol {
  list-style: none;
  counter-reset: item3;
  padding: 0rem;
  margin-left: 10px;
  padding-left: 30.0px;
}

ol.Romans>li>ol>li>ol>li {
  position: relative;
  padding-left: 0.5rem;
}

ol.Romans>li>ol>li>ol>li:before {
  counter-increment: item3 ;
  content: counter(item3, upper-roman)".";
  text-align: right;
  width: undefined;
  position: absolute;
  top: 0;
  left: undefined;
  margin-right: undefined;
  overflow: hidden;
}

ol.Romans>li>ol>li>ol>li>ol {
  list-style: none;
  counter-reset: item4;
  padding: 0rem;
  margin-left: 10px;
  padding-left: 30.0px;
}

ol.Romans>li>ol>li>ol>li>ol>li {
  position: relative;
  padding-left: 0.5rem;
}

ol.Romans>li>ol>li>ol>li>ol>li:before {
  counter-increment: item4 ;
  content: counter(item4, lower-roman)".";
  text-align: right;
  width: undefined;
  position: absolute;
  top: 0;
  left: undefined;
  margin-right: undefined;
  overflow: hidden;
}

ol.AlphaNumeric {
  list-style: decimal;
}

ol.AlphaNumeric>li>ol {
  list-style: lower-alpha;
}

ol.AlphaNumeric>li>ol>li>ol {
  list-style: lower-roman;
}

ol.AlphaNumeric>li>ol>li>ol>li>ol {
  list-style: none;
  counter-reset: item4;
  padding-left: 36.7px;
  margin-left: 3.3px;
}

ol.AlphaNumeric>li>ol>li>ol>li>ol>li:before {
  counter-increment: item4 ;
  content: "("counter(item4, decimal)")";
  text-align: right;
  position: absolute;
  left: -40.7px;
  margin-right: 4px;
  width: 36.7px;
  overflow: hidden;
}

ol.AlphaNumeric>li>ol>li>ol>li>ol>li>ol {
  list-style: none;
  counter-reset: item5;
  padding-left: 36.7px;
  margin-left: 3.3px;
}

ol.AlphaNumeric>li>ol>li>ol>li>ol>li>ol>li:before {
  counter-increment: item5 ;
  content: "("counter(item5, lower-alpha)")";
  text-align: right;
  position: absolute;
  left: -40.7px;
  margin-right: 4px;
  width: 36.7px;
  overflow: hidden;
}

ol.AlphaNumeric>li>ol>li>ol>li>ol>li>ol>li>ol {
  list-style: none;
  counter-reset: item6;
  padding-left: 36.7px;
  margin-left: 3.3px;
}

ol.AlphaNumeric>li>ol>li>ol>li>ol>li>ol>li>ol>li:before {
  counter-increment: item6 ;
  content: "("counter(item6, lower-roman)")";
  text-align: right;
  position: absolute;
  left: -40.7px;
  margin-right: 4px;
  width: 36.7px;
  overflow: hidden;
}

ol.AlphaNumeric>li>ol>li>ol>li>ol>li {
  position: relative;
}

ol.AlphaNumeric>li>ol>li>ol>li>ol>li>ol>li {
  position: relative;
}

ol.AlphaNumeric>li>ol>li>ol>li>ol>li>ol>li>ol>li {
  position: relative;
}

ol.RoundNumbers {
  counter-reset: item1;
  list-style: none;
  padding-left: 25px;
  margin-left: 15px;
}

ol.RoundNumbers>li {
  position: relative;
  line-height: 25px;
  margin-bottom: 2px;
}

ol.RoundNumbers>li:before {
  counter-increment: item1;
  content: counter(item1, decimal);
  text-align: center;
  position: absolute;
  left: -29px;
  margin-right: 4px;
  width: 25px;
  overflow: hidden;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  background-color: #000000;
  color: #FFFFFF;
  height: 25px;
  line-height: 25px;
}

ol.LowerAlpha {
  list-style-type: lower-alpha;
}