/*Created with Adobe RoboHelp 8.*/
  p {
	margin: 0in;
	margin-bottom: .0001pt;
	font-family: Arial, sans-serif;
	margin-top: 0pt;
	x-next-class: 1;
	x-next-type: P;
	font-weight: normal;
	font-style: normal;
	font-size: 12pt;
}
  LI.p {
	font-family: Arial, sans-serif;
	font-weight: normal;
	font-style: normal;
	font-size: 12pt;
}

span.msoIns {
	text-underline: single;
	color: #008080;
	text-decoration: underline underline;
}
span.msoDel {
	color: #ff0000;
	text-decoration: line-through line-through;
}
span.msoChangeProp {
}
OL {
	margin-top: 0px;
	margin-bottom: 0px;
}
UL {
	margin-top: 0px;
	margin-bottom: 0px;
}
LI.P-1 {
}
p.Italic {
	font-style: italic;
	font-weight: normal;
	margin-top: 4.5pt;
	margin-bottom: 4.5pt;
	text-autospace: none;
	font-family: Arial, sans-serif;
}
LI.p-Italic {
	font-style: italic;
	font-weight: normal;
	text-autospace: none;
	font-family: Arial, sans-serif;
}

H1 {
	font-family: Arial, sans-serif;
}
LI.H1 {
	font-family: Arial, sans-serif;
}

H2 {
	font-size: 14pt;
	font-family: Arial, sans-serif;
	margin-top: 18.5pt;
	margin-bottom: 0pt;
}
LI.H2 {
	font-size: 14pt;
	font-family: Arial, sans-serif;
}

H3 {
	font-size: 12pt;
	font-style: italic;
	font-weight: normal;
	font-family: Arial, sans-serif;
	margin-top: 4.5pt;
	margin-bottom: 4.5pt;
}
LI.H3 {
	font-size: 12pt;
	font-style: italic;
	font-weight: normal;
	font-family: Arial, sans-serif;
}

P.Bold {
	font-weight: bold;
	font-style: normal;
	text-align: Right;
}
LI.P-Bold {
	font-weight: bold;
	font-style: normal;
	text-align: Right;
}

